[submodule "fh-dining-philosophers"]
	path = fh-dining-philosophers
	url = git@github.com:FlorianMold/fh-dining-philosophers.git
[submodule "fh-ppr-mandelbrot"]
	path = fh-ppr-mandelbrot
	url = git@github.com:FlorianMold/fh-ppr-mandelbrot.git
