[submodule "fh-dining-philosophers"]
	path = fh-dining-philosophers
	url = git@github.com:FlorianMold/fh-dining-philosophers.git
[submodule "fh-ppr-mandelbrot"]
	path = fh-ppr-mandelbrot
	url = git@github.com:FlorianMold/fh-ppr-mandelbrot.git
[submodule "fh-ppr-sorting-algorithms"]
	path = fh-ppr-sorting-algorithms
	url = git@github.com:FlorianMold/fh-ppr-sorting-algorithms.git
[submodule "fh-ppr-gaussian-blur"]
	path = fh-ppr-gaussian-blur
	url = git@github.com:FlorianMold/fh-ppr-gaussian-blur.git
